<div class="ui secondary pointing menu">
    <a href="/" class="<%= (path === '/') ? 'active' : '' %> item">
        Shop
    </a>
    <a href="/products" class="<%= (path === '/products') ? 'active' : '' %> item">
        Products
    </a>
    <a href="/cart" class="<%= (path === '/cart') ? 'active' : '' %> item">
        Cart
    </a>
    <a href="/orders" class="<%= (path === '/orders') ? 'active' : '' %> item">
        Orders
    </a>
    <!--
        <a href="/admin/add-product" class="<%= (path === '/admin/add-product') ? 'active' : '' %> item">
            Add Product
        </a>
        <a href="/admin/products" class="<%= (path === '/admin/products') ? 'active' : '' %> item">
            Admin Products
        </a>
    -->
    <a href="/login" class="<%= (path === '/login') ? 'active' : '' %> item">Login</a>
</div>