<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <% if (orders.length <= 0) { %>
        <h2>Nothing there!</h2>
    <% } else { %>
        <ul>
            <% orders.forEach(order => { %>
                <li>
                    <h1># <%= order._id %></h1>
                    <ul>
                        <% order.products.forEach( p => { %>
                            <li><%= p.productData.title %> ( <%= p.quantity %> ) </li>
                        <% }) %>
                    </ul>
                </li>
            <% }); %>
        </ul>
    <% } %>
<!--    -->

<%- include('../includes/end.ejs') %>