<%- include('../includes/head.ejs') %>
</head>

<body>
<%- include('../includes/navigation.ejs') %>

<div class="ui container">
    <% if (prods.length > 0) { %>
        <div class="ui link cards">
            <% for (let product of prods) { %>
                <div class="card">
                    <div class="image">
                        <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
                    </div>
                    <div class="content">
                        <div class="header"><%= product.title %></div>
                        <div class="meta">
                            <a>$ <%= product.price %></a>
                        </div>
                        <div class="description">
                            <%= product.description %>
                        </div>
                    </div>
                    <div class="extra content">
                        <a>
                            <button class="ui black basic button">
                                Add to Cart
                            </button>
                        </a>
                    </div>
                </div>

            <% } %>
        </div>
    <% } else { %>
        <h2>No Products Found</h2>
    <% } %>
</div>

<%- include('../includes/end.ejs') %>